.jfx-tab-pane .headers-region {
    -fx-background-color: #ae52d4;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #ae52d4;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #757de8;
    -fx-stroke-width: 3pt;
}